@import "./animations.scss";
@import "./colors.scss";
@import "./scrollbar.scss";
@import "~bootstrap/scss/bootstrap.scss";

// Global styles
* {
	scroll-behavior: smooth;
	z-index: 1;
}

.cursor-pointer {
	cursor: pointer;
}

.shape {
	z-index: 0;
}

.h4 {
	font-size: 1rem;
}

@media (max-width: 360px) {
	.h4 {
		font-size: 0.8rem;
	}
}

@media (max-width: 320px) {
	.h4 {
		font-size: 0.6rem;
	}
}

@media (max-width: 575px) {
	h3 {
		padding-top: 80px;
	}
}

//// Section Header
header {
	min-height: 550px;
}

.navbar,
.masthead-heading,
.masthead-subheading {
	animation: slide 1s ease-in-out;
}

.fox {
	animation: show 1s ease-in-out;
}

// Fox eyes sizes
.eyes {
	left: 7px;
	bottom: 187px;
	width: 100%;
	height: 1px;
}

.eye {
	width: 20px;
	height: 15px;
	margin: 41px;
}

.ball {
	width: 5px;
	height: 7px;
}

.eyelid {
	width: 100px;
	height: 100px;
	z-index: 2;
	animation: blink 5s infinite;
}

// Media queries for fox
@media (max-width: 575px) {
	.fox {
		margin-top: 80px;
	}
}

@media (max-width: 360px) {
	.fox-container {
		max-width: 250px;
	}
	.eyes {
		left: 3px;
		bottom: 122px;
		text-align: center;
	}
	.eye {
		width: 15px;
		height: 10px;
		margin: 26px;
	}
	.ball {
		width: 4px;
		height: 6px;
	}
}

// Arrow animation
.arrow {
	animation: updown 2s infinite;
}

//// Section About
.swinging {
	transform-origin: 52% 2%;
	animation: swing 5s ease-in-out;
}

//// Section Technologies
@media (max-width: 575px) {
	.w-sm-50 {
		width: 50% !important;
	}
}

//// Section Projects
.hover-img:before,
.hover-img:after {
	background-color: rgba($dark, 0.3);
	border-top: 32px solid rgba($black, 1);
	border-bottom: 32px solid rgba($black, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	transition: all 0.5s ease;
	z-index: 1;
	opacity: 0;
	transform: scaleY(2);
}

.hover-img figcaption {
	opacity: 0;
	z-index: 2;
	transition-delay: 0.1s;
}

.hover-img:hover:before,
.hover-img:hover:after {
	transform: scale(1);
	opacity: 1;
}

.hover-img:hover > img {
	opacity: 0.7;
}

.hover-img:hover figcaption {
	opacity: 1;
}

////Section Contact
@media (max-width: 320px) {
	.w-xs-50 {
		width: 50% !important;
	}
}
